* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Degradê de fundo similar à imagem */
  background: radial-gradient(circle, #1a1a4d 0%, #000000 100%);
}

a {
  gap: 20px;
  color: #ffffff;
  text-decoration: none;
}

.login-card {
  background-color: #1c1c1c;
  padding: 40px;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 15px rgba(0, 102, 255, 0.2);
  border-bottom: 2px solid #0056b3; /* Detalhe azul na base */
}

.input-group {
  margin-bottom: 25px;
}

label {
  display: block;
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background 0.3s;
}

/* Estilo azul dos botões */
.btn-primary,
#btn-criar {
  background-color: #0056b3;
  color: white;
}

.btn:hover {
  background-color: #004494;
}

#logo {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 75px;
  height: 75px;
}
